.tree {
  width: 80000px;
  overflow: auto;
  margin: 50px auto;
}

/* Child list styles */
.tree .childList {
  padding-top: 20px;
  position: relative;
  transition: all 0.5s;
}
.tree .childList .childItem {
  float: left;
  text-align: center;
  list-style-type: none;
  position: relative;
  padding-top: 20px;
  padding-right: 5px;
  padding-left: 5px;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Lines between nodes */
.tree .childList .childItem::before,
.tree .childList .childItem::after {
  content: "";
  position: absolute;
  top: 0;
  right: 50%;
  border-top: 1px solid gray;
  width: 50%;
  height: 20px;
}
.tree .childList .childItem::after {
  right: auto;
  left: 50%;
  border-left: 1px solid gray;
}
.tree .childList .childItem:only-child::after,
.tree .childList .childItem:only-child::before {
  display: none;
}

.tree .childList .childItem:only-child {
  padding-top: 0;
}
.tree .childList .childItem:first-child::before,
.tree .childList .childItem:last-child::after {
  border: 0 none;
}
.tree .childList .childItem:last-child::before {
  border-right: 1px solid gray;
  border-radius: 0 5px 0 0;
}
.tree .childList .childItem:first-child::after {
  border-radius: 5px 0 0 0;
}

.tree .childList .childList::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  border-left: 1px solid gray;
  width: 0;
  height: 20px;
}

/* Styling individual nodes */
.tree .treeNode {
  border: 1px solid gray;
  padding: 5px 10px;
  text-decoration: none;
  color: #666;
  font-family: arial, verdana, tahoma;
  font-size: 11px;
  display: inline-block;
  border-radius: 5px;
  transition: all 0.5s;
}

/* Child list styles */
.tree .partnerList {
  top: 0px;
  left: 0px;
  transition: all 0.5s;
}
.tree .partnerList .partnerItem {
  float: left;
  text-align: center;
  list-style-type: none;
  position: relative;
  padding-top: 20px;
  padding-right: 5px;
  padding-left: 5px;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Lines between nodes */
.tree .partnerList .partnerItem::before,
.tree .partnerList .partnerItem::after {
  content: "";
  position: absolute;
  top: 0;
  right: 50%;
  border-top: 1px solid gray;
  width: 50%;
  height: 20px;
}
.tree .partnerList .partnerItem::after {
  right: auto;
  left: 50%;
  border-left: 1px solid gray;
}
.tree .partnerList .partnerItem:only-child::after,
.tree .partnerList .partnerItem:only-child::before {
  display: none;
}

.tree .partnerList .partnerItem:only-child {
  padding-top: 0;
}
.tree .partnerList .partnerItem:first-child::before,
.tree .partnerList .partnerItem:last-child::after {
  border: 0 none;
}
.tree .partnerList .partnerItem:last-child::before {
  border-right: 1px solid gray;
  border-radius: 0 5px 0 0;
}
.tree .partnerList .partnerItem:first-child::after {
  border-radius: 5px 0 0 0;
}

.tree li .treeNode:hover,
.tree li .treeNode:hover + .childList .childItem .treeNode {
  background: #c8e4f8;
  color: #000;
  border: 1px solid gray;
}
.tree li .treeNode:hover + .childList .childItem::after,
.tree li .treeNode:hover + .childList .childItem::before,
.tree li .treeNode:hover + .childList::before,
.tree li .treeNode:hover + .childList .childList::before {
  border-color: gray;
}
